.movieCard {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    flex: 0 1 100% !important;
  }
}
